@{
    ViewData["Title"] = "LoginCliente";
}


<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

    <div class="site-wrap">

        <div class="site-mobile-menu site-navbar-target">
            <div class="site-mobile-menu-header">
                <div class="site-mobile-menu-close mt-3">
                    <span class="icon-close2 js-menu-toggle"></span>
                </div>
            </div>
            <div class="site-mobile-menu-body"></div>
        </div>


        <header class="site-navbar py-4 js-sticky-header site-navbar-target" role="banner">

            <div class="container-fluid">
                <div class="d-flex align-items-center">
                    <div class="site-logo"><a href="">MasterGym<span>.</span></a></div>
                    <div class="ml-auto">
                        <nav class="site-navigation position-relative text-right" role="navigation">
                            <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">

                                <li><a asp-controller="Principal" asp-action="ClienteIndex"> Cerrar sesión </a></li>
                                
                            </ul>
                        </nav>
                    </div>

                </div>
            </div>

        </header>

        <div class="intro-section bgimg" style="background-image: url('/img/inicioProyecto.jpg');" data-stellar-background-ratio="0.5" id="home-section">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-12 mx-auto text-center" data-aos="fade-up">
                        <div class="wrap-contact100">
                            <form class="contact100-form validate-form" asp-action="LoginCliente">
                                <div class="col-lg-12 mx-auto text-center" data-aos="fade-up" id="NombreGYMLOG">

                                </div>
                                <script>var html = '<span class="contact100-form-title"> Login ' + sessionStorage.getItem("NombreGimnasio") + '</span>'; document.getElementById("NombreGYMLOG").innerHTML = html;</script>
                                <div class="wrap-input100 validate-input bg1" data-validate="Por favor ingrese un nombre">
                                    <span class="label-input100">Nombre del gimnasio *</span>
                                    <input class="input100" type="text" id="nombre" name="nombre" required placeholder="Ingrese el nombre" />
                                </div>
                                <div class="wrap-input100 validate-input bg1" data-validate="Por favor ingrese una contraseña">
                                    <span class="label-input100">Contraseña *</span>
                                    <input class="input100" type="password" id="contrasena" name="contrasena" required placeholder="Ingrese la contraseña" />
                                </div>
                                <div class="container-contact100-form-btn rs1-wrap-input100">
                                    <input class="contact100-form-btn " type="button" href="javascript:;" onclick="loginClienteScript(
                            $('#nombre').val(),
                            $('#contrasena').val()
                        ); return false;" id="loginCliente" name="loginCliente" value="Ok" />
                                    <span id="resultadoLoginCliente"></span>

                                </div>

                                <div class="ftco-feature-1" data-aos="fade-up" id="ImagenGYMLOG">

                                </div>

                                <script>var html = ' <img class="img-fluid img-circle " src="/assets/img/' + sessionStorage.getItem("NombreGimnasio") + '/logo.jpg" </img>'; document.getElementById("ImagenGYMLOG").innerHTML = html;</script>



                            </form>
                        </div>

                    </div>
                </div>

            </div>

        </div>

        <footer class="footer-section bg-dark">
            <div class="container">

                <div class="row pt-5 mt-5 text-center">
                    <div class="col-md-12">
                        <div class=" pt-5">

                            <p class="h6">&copy; 2019-2020 MasterGym</p>

                        </div>
                    </div>

                </div>
            </div>
        </footer>



    </div>
    <!-- .site-wrap -->

    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/js/jquery-ui.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/jquery.stellar.min.js"></script>
    <script src="~/js/jquery.countdown.min.js"></script>
    <script src="~/js/bootstrap-datepicker.min.js"></script>
    <script src="~/js/jquery.easing.1.3.js"></script>
    <script src="~/js/aos.js"></script>
    <script src="~/js/jquery.fancybox.min.js"></script>
    <script src="~/js/jquery.sticky.js"></script>
    <script src="~/js/jquery.mb.YTPlayer.min.js"></script>
    <script src="~/js/main.js"></script>

</body>






